/* .header{width: 100%;
	 position: absolute; 
	 left: 0; 
	 top:0; 
	 padding: 0 50px; 
	 box-sizing: border-box;
	  box-shadow: 1px 1px 3px #ddd;}
.header .menu{display: inline-block; 
				vertical-align: middle;
				 width: 40%;
				  padding: 0 20px;
				  box-sizing: border-box;}
.header .menu li{display: inline-block;}
.header .menu li a{display: inline-block; height: 100px; */
 padding: 0 20px; 
 line-height: 100px;
  font-weight: 400; 
 box-sizing: border-box;}
 
 h1, h3, p {
    text-align: center;
}

img{
	width: 40px;
    height: 40px;
	
}
.userInfo li{
	font-size: 0.9em;
}

#bitdelivery {
    font-size: 50px;
    text-align: center;
    background-color: #444444;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    MARGIN-TOP: 60PX;
}
#drop{text-align: center;}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}

#id img {
    width:70%; height:auto; left:50%; top:20%; margin:auto; 
}
#box span {
    float: right;
}

#search {
    /* position: relative;
    left: 50%;
    margin-left : -50px;
    display: block;
    margin: auto; */
    margin : auto;
    width:600px;
    height:50px;
    text-align: center;
    
}
#search2 {
    /* width: 70%; 
    padding: 10px 20px; 
    margin: 5px 0; 
    box-sizing: border-box;
    display : block; */
    margin : 0 auto;
    width:600px;
    height:50px;
    /* position: absolute;
    width: 100px;
    height: 50px;
    border: 1px solid #215cb5;
    border-radius: 10px; */
}
#search3 {
    margin : 0 auto;
    width:600px;
    height:50px;
}
#store img { 
    width:50%; height:auto; left:50%; top:20%; margin:auto; 
}
#login{
	
	float: left;
    margin-right: 40px;
    margin-left: 1100px;
    width: 50px;
}
#nav {
    list-style:none;
    height: 50px;
    /* margin: 0 auto; */
    margin: auto;
    padding:1px 1px;
    background-color: rgba(17, 21, 230, 0);
    text-align: center;
    display: inline-block;
    /* left: 50%;
    top: 85px;
    width: 600px; */
}


#nav li{
	top: 50%;
	height:25px;
	margin-top: -12.5px;
    float:left;
    position:relative;
    padding:0;
    
}
#nav li li{
    background-color: #215cb5;
}
#nav li a {
    display:block;
    font-size:18px;
    margin:0;
    text-decoration:none;
}

/* #nav li:hover > a {
    color: #0E8C43;
    margin:0;
    padding:5px;
} */

#nav ul li:hover > a {
    color: #ffffff;
    margin:0;
    padding:5px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 25px;
    width: 203px;
    margin-left: -101.5px;
    text-align: center;
    opacity:0;
}

#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

#nav li a {
    font-weight: normal;
    height: 25px;
}

/* #nav ul li:hover a {
    color: #0E8C43;
}
#nav li a:hover{
	font-size: 1.3rem;
} */
#nav ul li a:hover{
	font-size: 1.3rem;
}
#nav>li>a>span{
	display: inline-block;
	height: 105%;
	background-color: white;
}
#nav>li>a>span:hover{
	 color: #215cb5;
	 font-size: 1.3rem;
}

#nav li ul{
    opacity: 1;
    display: none;
}

#nav:hover ul li {
    height: 35px;
    background-color: #215cb5;
    overflow: visible;
    padding:0;
}

#nav ul li{
	height: 35px;
	padding: 0;
}


footer li {
    list-style: none;
}

.main_c {
    text-align: center;
}


.menu_2 a {color:white; font-weight:bolder; text-decoration:none;}
.menu_2 a:hover {color:#08C;}
.copyright {text-align:center;color:#fff;font-weight:bolder;margin:5px 0 5px 0;}
.copyright a {color:#333;text-decoration:none;}
.copyright a:hover {color:#08C;}
