<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="FavoriteDAO">

	<select id="selectFavorite" parameterType="int" resultType="favorite">
		SELECT * FROM FAVORITE WHERE M_ID = #{m_id}
	</select>
	<delete id="deleteFavorite" parameterType="map">
		DELETE FROM FAVORITE WHERE M_ID = #{m_id} AND S_ID = #{s_id}
	</delete>
	<insert id="insertFavorite" parameterType="map">
		INSERT INTO FAVORITE ( M_ID, S_ID )
			VALUES ( #{m_id}, #{s_id} )
	</insert>
</mapper>









